# Entornos virtuales
venv/
.env
.env.*

# Archivos temporales
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Config de editores
.vscode/
.idea/

# Notas temporales o datos que no quieres subir
memory/historial.json
memory/usuarios.json
memory/notas/*
!memory/notas/.gitkeep

# Datos de entrenamiento o prueba
data/entrenamiento/*
!data/entrenamiento/.gitkeep

models/*
!models/.gitkeep

# Archivos de sistema
.DS_Store
Thumbs.db
